/*Палитра основных цветов из макета
#2196F3 - Голубой цвет (текст)
#FFFFFF - белый текст
#212121 - черный текст 
#757575 - серый текст
#F5F4FA - background our team
#2F303A - background footer and HEROES*/

/*палитра вторичных цветов в т.ч. с прозрачностью
В макете не найдено*/

/* Эффекты */
/* Drop Shadow 
/* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); - для кнопки*/

/* CSS-colors: переменные */
:root {
  --black-font-color: #212121;
  --blue-color: #2196f3;
  --white-color: #ffffff;
  --grey-color: #757575;
  --bcg-ourteam-color: #f5f4fa;
  --bcg-footer-heroes-color: #2f303a;
}

body {
  background-color: var(--white-color);
  color: var(--black-font-color-color);
  font-family: Roboto;
}

a {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* ul {
  list-style: none;
}*/
/* a {
  text-decoration: none;
} */
/* Var 2 Логотипа a[class='logo'] {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
/* letter-spacing: 0.03em;
  text-decoration: none;
} */
.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

/*Var 2 оформления 
.logo > .web-logo {
  color: #2196f3;
}
.logo > .studio-logo {
  color: #000000;
} */

.web-logo {
  color: var(--blue-color);
}
.studio-logo {
  color: var(--black-font-color);
}

/*HEADER*/

/*SITE NAV*/
.site-nav .link {
  color: var(--black-font-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--blue-color);
}
.contacts .link {
  color: #757575;
}
.contacts .link:hover,
.contacts .link:focus {
  color: var(--blue-color);
}

/*HERO*/
.hero {
  background-color: var(--bcg-footer-heroes-color);
}

.hero .hero-title {
  color: var(--white-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/*SECTIONS*/
.hide {
  display: none;
}
.section-title {
  color: var(--black-font-color);
}
/*TEAM*/
.section-team {
  background-color: var(--bcg-ourteam-color);
}
