/*Палитра основных цветов из макета
#2196F3 - Голубой цвет (текст)
#FFFFFF - белый текст
#212121 - черный текст 
#757575 - серый текст
#F5F4FA - background our team
color: rgba(255, 255, 255, 0.6);
#2F303A - background footer and HEROES*/

/*палитра вторичных цветов в т.ч. с прозрачностью
В макете не найдено*/

/* Эффекты */
/* Drop Shadow 
/* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); - для кнопки*/

/* CSS Rules for fonts
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

/* CSS-colors: переменные */
:root {
  --black-font-color: #212121;
  --blue-color: #2196f3;
  --white-color: #ffffff;
  --grey-color: #757575;
  --bcg-ourteam-color: #f5f4fa;
  --bcg-footer-heroes-color: #2f303a;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
}

body {
  background-color: var(--white-color);
  color: var(--black-font-color);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}

/* a {
  text-decoration: none;
} */

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* ul {
  list-style: none;
}*/
/* a {
  text-decoration: none;
} */

/* РАЗМЕТКА ЛОГОТИПА */
/* Var 2 Логотипа a[class='logo'] {} */

/*HEADER*/
.logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

/*Var 2 оформления 
.logo > .web-logo {
  color: #2196f3;
}
.logo > .studio-logo {
  color: #000000;
} */

.web-logo {
  color: var(--blue-color);
}
.studio-logo {
  color: var(--black-font-color);
}

/*SITE NAV*/
.site-nav .link {
  color: var(--black-font-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
/* HOVER EFFECT */
.site-nav .link:hover,
.site-nav .link:focus,
.contacts .link:hover,
.contacts .link:focus {
  color: var(--blue-color);
}
.contacts .link {
  color: var(--grey-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/*HERO*/
.hero {
  background-color: var(--bcg-footer-heroes-color);
}

.hero .hero-title {
  color: var(--white-color);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  cursor: pointer;
}

/*SECTIONS*/
/* ОСОБЕННОСТИ */
.hide {
  display: none;
}
.section-title {
  color: var(--black-font-color);
}
.section .title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.section .paragraph {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--grey-color);
}
/*TEAM*/

.our-team {
  background-color: var(--bcg-ourteam-color);
}
.our-team .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  /* identical to box height */
  letter-spacing: 0.03em;
  text-transform: none;
}
.our-team .paragraph {
  font-size: 16px;
  line-height: 1.18;
}

/* PORTFOLIO */
.section .title-what-we-do {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
}
.section .paragraph-what-we-do {
  font-size: 16px;
  line-height: 1.87;
  /* identical to box height, or 187% */
  letter-spacing: 0.03em;
  color: var(--grey-color);
}
/* FOOTER */
.footer {
  background-color: var(--bcg-footer-heroes-color);
}
.footer .link {
  color: var(--footer-contacts-color);
}
.footer .studio-logo,
.map {
  color: var(--white-color);
  text-decoration: none;
}
.address {
  font-style: normal;
}
.map:hover,
.map:focus,
.footer .link:hover,
.footer .link:focus {
  color: var(--blue-color);
}
