/* Drop Shadow 
/* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); - для кнопки*/

/* CSS Rules for fonts
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

/* CSS-colors: переменные */
:root {
  --black-font-color: #212121;
  --blue-color: #2196f3;
  --white-color: #ffffff;
  --grey-color: #757575;
  --bcg-ourteam-color: #f5f4fa;
  --bcg-footer-heroes-color: #2f303a;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
}

body {
  background-color: var(--white-color);
  color: var(--black-font-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* РАЗМЕТКА ЛОГОТИПА */

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
}

.web-logo {
  color: var(--blue-color);
}
.studio-logo {
  color: var(--black-font-color);
}

/*SITE NAV*/
.site-nav .link {
  color: var(--black-font-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
/* HOVER EFFECT */
.site-nav .link:hover,
.site-nav .link:focus,
.contacts .link:hover,
.contacts .link:focus {
  color: var(--blue-color);
}
.contacts .link {
  color: var(--grey-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/*HERO*/
.hero {
  background-color: var(--bcg-footer-heroes-color);
}

.hero .hero-title {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.btn {
  cursor: pointer;
  background-color: var(--bcg-ourteam-color);
  color: var(--black-font-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border-color: transparent;
  display: inline-block;
  border-radius: 4px;
}
.btn:hover,
.btn:focus {
  cursor: pointer;
  background-color: var(--blue-color);
  color: var(--white-color);
}

.btn.btn-main {
  color: var(--white-color);
  background-color: var(--blue-color);
  font-weight: bold;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

/*SECTIONS*/
/* ОСОБЕННОСТИ */
.hide {
  display: none;
}
.section-title {
  color: var(--black-font-color);
}
.section .title {
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
}

.section .paragraph {
  line-height: 1.71;
  color: var(--grey-color);
}
/*TEAM*/

.our-team {
  background-color: var(--bcg-ourteam-color);
}
.our-team .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-transform: none;
}
.our-team .paragraph {
  font-size: 16px;
  line-height: 1.18;
}

/* PORTFOLIO */
.section .title-what-we-do {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.section .paragraph-what-we-do {
  font-size: 16px;
  line-height: 1.87;
  color: var(--grey-color);
}
/* FOOTER */
.footer {
  background-color: var(--bcg-footer-heroes-color);
}
.footer .link {
  color: var(--footer-contacts-color);
}
.footer .studio-logo,
.map {
  color: var(--white-color);
  text-decoration: none;
}
.address {
  font-style: normal;
}
.map:hover,
.map:focus,
.footer .link:hover,
.footer .link:focus {
  color: var(--blue-color);
}
